body {
    background: color #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0%;
    padding: 0%;
}
header {
    background-color: #333333;
    text-align: center;
}
h1 {
    color:#eee;
    font: size 28px;
    text-align: center;
    background-color: #333333;
    margin: auto;
    padding: auto;
}
h2 {
    font-size: 24px;
    margin: 0 auto;
}
#main-bio {
    float: left;
    width: 70%;
    margin: auto
}
#contact-info {
    float: left;
    width: 30%;
    line-height: 1.5;
    margin:auto;
}
#bio-image {
    float: left;
    width: 200px;
    height: 300;
    margin-right: auto;
}
a {
    color: #d21034;
}
li {
    font-size: 15px;
    font-family: cursive;
    float: right;
    list-style-type: square;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    /* mobile devices */
    body {
        background-color: tan;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    /* small ipads and small android tablets */
    body {
        background-color: teal;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    /* laptops and and small screens */
    body {
        background-color: orange;
    }
    h1, h2{
        text-align: center;
        color: green;
    }
    ul,li {
        text-align: center;
        color: white;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
    /* large screens and desktops */
    body {
        background-color: green;
    }
}

@media screen and (min-width: 1201px) and (orientation: landscape){
    /* large LCD screens and beyond */
    body {
        background-color: magenta;
    }
}

/* Square 1 and 2 */
.container {
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 15px solid black;
    padding-top: 100px;
    display: block;
  }